<h3>Create a new Room</h3>
<section>
  <div [hidden]="submitted" style="width: 400px">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Room name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="room.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="name">Date:</label>
        <input
          type="text"
          class="form-control"
          id="date"
          required
          [(ngModel)]="room.date"
          name="date"
        />
      </div>

      <div class="form-group">
        <label for="name">Start Hour:</label>
        <input
          type="text"
          class="form-control"
          id="startHour"
          required
          [(ngModel)]="room.startHour"
          name="startHour"
        />
      </div>

      <div class="form-group">
        <label for="name">End Hour:</label>
        <input
          type="text"
          class="form-control"
          id="endHour"
          required
          [(ngModel)]="room.endHour"
          name="endHour"
        />
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-outline-primary">Save</button>
      </div>
    </form>
  </div>

  <div class="buttons">
    <div [hidden]="!submitted">
      <button class="btn btn-outline-secondary" (click)="newRoom()">
        Add another Room
      </button>
    </div>
    <div>
      <button class="btn btn-outline-secondary" (click)="gotoListPage()">
        Back to List
      </button>
    </div>
  </div>
</section>
