<h3>Create a new Room</h3>
<section>
  <div [hidden]="submitted" style="width: 400px">
    <app-form-room (submitEventEmitter)="saveRoom($event)"></app-form-room>
  </div>
  <div class="buttons">
    <div [hidden]="!submitted">
      <button class="btn btn-outline-secondary" (click)="newRoom()">
        Add another Room
      </button>
    </div>
    <div>
      <button class="btn btn-outline-secondary" (click)="gotoListPage()">
        Back to List
      </button>
    </div>
  </div>
</section>
