<div *ngIf="room && roomForm; else showLoadingMessage">
  <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Room name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        formControlName="name"
      />
      <app-form-room-error-message
        [control]="getFormControl('name')"
      ></app-form-room-error-message>
    </div>
    <app-form-room-error-message
      [control]="getFormControl('endHour')"
    ></app-form-room-error-message>

    <div class="buttons">
      <button
        id="button-save"
        type="submit"
        [disabled]="!roomForm.valid"
        class="btn btn-outline-primary"
      >
        Save
      </button>
    </div>
  </form>
</div>

<!-- TODO No results message -->

<ng-template #showLoadingMessage>
  <app-loading-message></app-loading-message>
</ng-template>
