<h3>Create a new Room</h3>
<div *ngIf="room; else showLoadingMessage">
  <section>
    <div class="form-group">
      <label for="name">Room name:</label>
      <input type="text" class="form-control" readonly [value]="room.name" />
    </div>

    <div class="buttons">
      <button class="btn btn-outline-warning" (click)="goToUpdate()">
        Update Room
      </button>
      <button class="btn btn-outline-secondary" (click)="goToList()">
        Back to List
      </button>
    </div>
  </section>
</div>

<ng-template #showLoadingMessage>
  <app-loading-message></app-loading-message>
</ng-template>
