<div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ roomBeingShown.name }}</h5>
    <p class="card-text">Date: {{ roomBeingShown.date }}</p>
    <p class="card-text">Start Hour: {{ roomBeingShown.startHour }}</p>
    <p class="card-text">End Hour: {{ roomBeingShown.endHour }}</p>
    <button
      (click)="goToRoomDetails(roomBeingShown.id || 0)"
      class="btn btn-primary"
    >
      Show Details
    </button>
    <button
      (click)="goToRoomUpdate(roomBeingShown.id || 0)"
      class="btn btn-primary"
    >
      Update
    </button>
  </div>
</div>
