<div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ roomBeingShown.name }}</h5>
    <p class="card-text">Data: {{ roomBeingShown.date }}</p>
    <p class="card-text">Horário de Início: {{ roomBeingShown.startHour }}</p>
    <p class="card-text">Horário de Fim: {{ roomBeingShown.endHour }}</p>
    <a href="#" class="btn btn-primary">Editar Sala</a>
    <a href="#" class="btn btn-danger">Excluir Sala</a>
  </div>
</div>
